<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity 
		    name="Sap.Data.Hana.v3.5" 
		    publicKeyToken="0326b8ea63db4bc4" 
		    culture="neutral" 
		/>
                <bindingRedirect 
		    oldVersion="<SUBST:MAJOR_VERSION>.0.0.0-<SUBST:MAJOR_VERSION>.<SUBST:SP_NUMBER>.<SUBST:PATCH_NUMBER>.0"
		    newVersion="<SUBST:MAJOR_VERSION>.<SUBST:SP_NUMBER>.<SUBST:PATCH_NUMBER>.0"
		/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
