*.sln.cache
_ReSharper.*
bin
obj
build
dist
*.suo
*resharper*
*.user
TestResult.xml
src/FluentMigrator.Example/tools/FluentMigrator
db.sqlite
*.orig
*.pidb
*.userprefs
packages/FluentMigrator/
packages/FluentMigrator.Tools/
_UpgradeReport_Files
UpgradeLog.XML
*.bak
pulls/*.patch
src/*.vs10x
*.vs10x
src/FluentMigrator.Tests/FluentMigrator.VisualState.xml
examplecommand.txt
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.ncrunchproject
*.ncrunchsolution
*.crunchsolution.cache
src/FluentMigrator.T4.Tests/IntialMigrationCode.cs

#StyleCop
*.StyleCop
/TestResults
/.vs
