<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="MyGet Feed" value="https://www.myget.org/F/fluent-migrator/api/v3/index.json" />
        <add key="NuGet Feed" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>
