<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="TestConnection" connectionString="data source=.;Integrated Security=SSPI;Initial Catalog=AdventureWorks" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
