<configuration>
   <dsncollection>
      <dsn alias="alias1" name="name1" host="server1.net1.com" port="50001"/>
      <!-- Long aliases are supported -->
      <dsn alias="longaliasname2" name="name2" host="server2.net1.com" port="55551">
         <parameter name="Authentication" value="SERVER_ENCRYPT"/>
      </dsn>
   </dsncollection>
   <databases>
      <database name="name1" host="server1.net1.com" port="50001">
         <parameter name="CurrentSchema" value="OWNER1"/>
         <wlb>
            <parameter name="enableWLB" value="true"/>
            <parameter name="maxTransports" value="50"/>
         </wlb>
         <acr>
            <parameter name="enableACR" value="true"/>
         </acr>
      </database>
      <!-- Local IPC connection -->
      <database name="name3" host="localhost" port="0">
         <parameter name="IPCInstance" value="DB2"/>
         <parameter name="CommProtocol" value="IPC"/>
      </database>
   </databases>
   <parameters>
      <parameter name="GlobalParam" value="Value"/>
      <!-- Client configuration for Optim Performance Manager Extended Insight (OPM EI) and Optim Configuration Manager (OCM)-->
      <!-- <parameter name="connectionSupervisorLibrary" value="/home/pureQuery/pqcmx"/> -->
      <!-- <parameter name="connectionSupervisorProperties" value="controllerURL=server1.net1.com:65000,httpControllerURL=http://ibmdatacmserver:12206,cmxUUID=myuuid"/> -->
   </parameters>
</configuration>
