<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity 
		    name="Sap.Data.Hana.v4.5" 
		    publicKeyToken="0326b8ea63db4bc4" 
		    culture="neutral" 
		/>
                <bindingRedirect 
		    oldVersion="2.0.0.0-2.4.171.0"
		    newVersion="2.4.171.0"
		/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
