<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity 
		    name="Sap.Data.Hana.v3.5" 
		    publicKeyToken="0326b8ea63db4bc4" 
		    culture="neutral" 
		/>
                <bindingRedirect 
		    oldVersion="1.0.80.0-1.0.80.0"
		    newVersion="1.0.80.0"
		/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
